*{
    margin: 0;
    padding: 0;
    font-family: Gilroy;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;


}
#main{
    display: flex;
    height: 100%;
    width: 100%;
}
#left{
    position: relative;
    height: 100%;
    width: 40%;
    background-color: gainsboro;
    }
#lnav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}
#lnavr{
    display: flex;
    align-items: center;
}

#lnavr a{
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 15px;
}   
#lnavr i{
    color: rgb(4, 159, 187);
}
#left #textcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#textcenter h1{
    font-size: 90px;
    font-weight: 900;
}
#textcenter p{
    opacity: .6;
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#textcenter a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
    opacity: .6;
}
#right{
    height: 100%;
    width:60% ;
    background-color: rgb(159, 192, 209);
}
#rtop{
    display: flex;
    width: 100%;
    height: 50%;
    background-color: rgb(16, 232, 160);
}
#rbottom{
    width: 100%;
    height: 50%;
    background-image: url(https://images.unsplash.com/photo-1517992159470-5f9b04759e98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1407&q=80);
    background-size: cover;
    background-position: center;
}
#rtopleft{
    height: 100%;
    width: 55%;
    background-image: url(https://images.unsplash.com/photo-1618897996318-5a901fa6ca71?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80);
    background-size: cover;
    background-position: center;
}
#rtopright{
    height: 100%;
    width: 45%;
    background-image: url(https://images.unsplash.com/photo-1552914953-938eef0ce926?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1779&q=80);
    background-size: cover;
    background-position: center;
}
@media(max-width:500px){
    #main{
        flex-direction: column;
    }
    
    #main #left{
        width: 100%;
    }

    #main #right{
        width: 100%;
    }
}